<h1>Survey: <%= @survey.name %></h1>
<h2>Question: <%= @question.name %></h2>
<h3><%= @question.question %></h3>

<p><%= link_to "Edit song", edit_album_song_path(@album, @song) %></p>
<p><%= link_to "Delete song", album_song_path(@album, @song),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to album", album_path(@album) %></p>